@model DataLayer.author

@{
    ViewBag.Title = "Details";
}

          
            <div class="row">
           <div class="span3 offset1">
          <img data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;" src="~/Content/img/author.png"/>
            
           </div>
            <div class="span6">
                <p><h3>@Model.first_name @Model.last_name</h3></p>                          
              <article> @Model.biography</article>
            </div>
          </div>          
          
          <hr />      
           <div class="row">
           <div class="span3 offset1">            
            <p style="text-align:left"><b>Birth Date: </b></p>                           
            </div>
            <div class="span3">            
            <p style="text-align:left">@Html.DisplayNameFor(model => model.birth_date)</p>          
            </div>
           </div> 
          <hr/>   
          <div class="row">
            <div class="span10">             
              <div class="span3">              
                <a class="btn btn-large btn-block" href="javascript:updateAuthor()">Edit</a>
              </div>             
              <div class="span3">               
                <a class="btn btn-large btn-block" href="faq.html">Delete</a>
              </div>              
            </div>
          </div>
