@model IEnumerable<DataLayer.author>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model) {    
<div class="span3">
<a id="@item.id"  href="javascript:getAuthor(@item.id)" class="thumbnail">
<img data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;" src="~/Content/img/author.png" />
  
</a>
 <div class="caption">
<h3 style="text-align:center">@item.last_name @item.first_name</h3>                   
 </div> 
</div>  
}