@{
    ViewBag.Title = "UserProfile";
}


<div class="col-lg-6">
     
    <h3>Username: </h3><h3>{{userDetails.Username}} </h3>   
    <br>
    <h3>First name: </h3><h3>{{userDetails.FirstName}} </h3>   
    <br>
    <h3>Last name: </h3><h3> {{userDetails.LastName}} </h3>
    <br/>
    <h3>E-mail: </h3><h3> {{userDetails.Email}}</h3>
    
 </div>
