@{
    ViewBag.Title = "AdminHome";
}


<div class="container-fluid">
 <div class="row-fluid">
  <div class="span3">
<div class="well sidebar-nav">
 <ul class="nav nav-list">
 <li class="nav-header">Categories</li>
 <li>@Html.ActionLink("Users","../user")</li>
 <li>@Html.ActionLink("Genres","../genre")</li>
 <li>@Html.ActionLink("Authors","../author")</li>
 <li>@Html.ActionLink("Books","../book")</li>
 </ul>
 </div>
 </div>
 </div>
 </div>