@{
    ViewBag.Title = "AdminHome";
}

<div class="container-fluid">
            <div class="row-fluid">
               <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li class="active">
                            <a id="dashboard" href="http://localhost:52464/Home/AdminDashboard"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a id="users" href="http://localhost:52464/User/Index"><i class="icon-chevron-right"></i> Users</a>
                        </li>
                        <li>
                            <a id="books" href="http://localhost:52464/Book/Index"><i class="icon-chevron-right"></i> Books</a>
                        </li>
                        <li>
                            <a id="genres" href="http://localhost:52464/Genre/Index"><i class="icon-chevron-right"></i> Genres</a>
                        </li>
                        <li>
                            <a id="authors" href="http://localhost:52464/Author/Index"><i class="icon-chevron-right"></i> Authors</a>
                        </li>
                       
                    </ul>
                </div>
                
                <!--/span-->
                <div class="span9" id="content">         

                    <div  id="show" class="row-fluid">
                       
                    </div>
                </div>
            </div>

   
     @section Scripts{
    @Scripts.Render("~/bundles/piechartjs") 
    @Scripts.Render("~/bundles/ajaxjs") 
    @Scripts.Render("~/bundles/adminjs")    
    @Scripts.Render("~/bundles/dmuploaderjs")
}
