@model IEnumerable<DataLayer.book>
@{
    ViewBag.Title = "UserHome";
}

@section featured {

}

<div ng-app="UserApp">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" ng-controller="genreCtrl">
                <!--Sidebar content-->

                <div ng-repeat="item in items">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">



                        <a id="{{item.Id}}" ng-href="#/genre/books/{{item.Id}}" class="thumbnail">

                            <li><i class="icon-chevron-right"></i>
                                <h5 style="text-align: center">{{item.Name}}</h5>
                            </li>

                        </a>

                    </ul>
                </div>
            </div>
            <div class="span9" ng-controller="bookAllCtrl">
                <div class="row-fluid">

                    <input type="text" ng-change="search()" ng-model="query" class="input-medium search-query" placeholder="Search" value="">
                    <button ng-click="search()" type="submit" class="btn"><i class="icon-search"></i></button>

                    <ng-view>  </ng-view>                   


                        <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

                        <pre>The selected page no: {{currentPage}}</pre>



                   

                </div>

            </div>
        </div>
    </div>
</div>








@section Scripts{
    @Scripts.Render("~/bundles/piechartjs")
    @Scripts.Render("~/bundles/ajaxjs")
    @Scripts.Render("~/bundles/adminjs")
    @Scripts.Render("~/bundles/dmuploaderjs")
}





<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls-0.11.0.min.js"></script>
