@model IEnumerable<DataLayer.genre>

@{
    ViewBag.Title = "Index";
}


<br />
<br />
<div class="row">
<div class="block-content collapse in">
<div class="span6 offset1">
<table id="genretable" class="table table-striped">
<thead>
<tr><th>Name</th></tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr><td>@Html.TextBoxFor(modelItem => item.name)
        <a id="@item.id" href="javascript:deleteGenre(@item.id)"><img src="~/Content/img/delete.png" /></a>
     </td>
    </tr>
}                                       
</tbody>
</table>
</div>
<div id="newGenre" class="span3"></div>
</div>
</div>
 
<div class="row">
 <div class="span10">             
 <div class="span3 offset1">              
 <a class="btn btn-large btn-block" href="javascript:addGenre()">Add</a>
 </div>         
 </div>
 </div>



