<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Digital repository</title>
        <!--<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />-->       
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" /> 
        <link href="~/Content/sb-admin.css" rel="stylesheet" />
        <link href="~/Content/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    </head>
    <body>
    <div id="wrapper">
        <nav  class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">               
                <a style="color:black" class="navbar-brand" href="#">Digital repository</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">               
              
               @Html.Partial("_LoginPartial")
            </ul>	
           
        </nav>       
            <div style="background-color:white" class="col-md-12">
               
                  @RenderBody()
               
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->      
        <!-- /#page-wrapper -->
    </div>        
@RenderSection("scripts", required: false)
@RenderSection("featured", required: false)
 <script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
 <script src="~/Scripts/jquery-1.10.2.js"></script>
 <script src="~/Scripts/bootstrap.min.js"></script>
 <script src="~/Scripts/sb-admin.js"></script>
<script src="~/Scripts/index.js"></script>
</body>
</html>